*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    border: 2px solid;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    border: 2px solid;
  
}
div{
    background-color: rgb(163, 165, 42);
    border: 2px solid;
    height: 20vh;
    width: 15vw;
}